*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto";
}
html,body{
    height:100%;
    width:100%;
}
body{
    background: linear-gradient(217deg, #abc5e1, #E6D6D8 70.71%),
    linear-gradient(127deg, #E6D6D8, #EBEEDF 70.71%),
    linear-gradient(336deg, #C9E5DF, #EBEEDF 70.71%);
    padding:4%;
}
#main{
    width:100%;
    padding:4% 5%;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(153, 153, 153, 0.374), 2px 2px 10px rgba(153, 153, 153, 0.374);
}
#nav{
    height:60px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    border-bottom: 1px  solid lightgray;
}
#navleft,#navright{
    display:flex;
    align-items: center;
    justify-content:center;
    gap: 40px;
}
#nav h5{
    font-size:15px;
    font-weight:300;
}
#nav p{
    font-size: 14px;
    font-weight:300;
}
#badge{
    background-color: #F8EDE3;
    padding:5px 13px;
    border-radius: 20px;
}
.btn-property{
    font-size: 15px;
    font-weight: 300;
    padding:12px 35px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    text-transform: capitalize;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.btn-property:hover{
    background-color: black;
    color:white;
}
.blackbtn-property{
    background-color: black;
    color:white;
}
.blackbtn-property:hover{
    background-color: rgb(41, 41, 41);
}
.p-150{
    padding-top: 150px;
}
#mainheading{
    height:100%;
    width:100%;
}
#mainheading h1{
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
}
#mainheading h3{
    margin: 30px 0;
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
}
#logo{
    display:flex;
    justify-content: space-between;
}
#qualities{
    height:30vw;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:40px;
}
.quality{
    background-color:#F8F8F8;
    height:80%;
    width:40%;
    padding:30px;
    line-height: 1.2;
    overflow:hidden;
}
.quality h3{
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 15px;
    line-height: 1.2;
    text-transform: capitalize;
}
.quality p{
    font-size: 15px;
    font-weight: 300;
    padding-bottom: 15px;
    color:#939393;
    line-height: 1.8;
    text-transform: capitalize;
}
.a-property{
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    padding-bottom:5px;
}
.quality a{
    border-bottom: 1px solid black;
}
.subheadings{
    height:40px;
    width:100%;
    margin-top: 70px;
    color:#555555;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid lightgray;
}
#selected{
    height:100px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#selected h2{
    font-size: 50px;
    font-weight: 300;
    text-transform: capitalize;
}
#selected button:hover{
    background-color: black;
    color:white;
}
.works{
    height:60vh;
    width:100%;
    margin-top: 50px;
    display: flex;
    gap:40px;
}
.works-property{
    height:100%;
    width:50%;
    overflow: hidden;
}
.works-property img{
    width:100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.works-property img:hover{
    scale:1.1;
}
.workstext{
    height:50px;
    width:100%;
    margin-top:20px;
    display: flex;
    gap:40px;
}
.workstext-property{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.workstext-property a{
    font-size: 20px;
}
.workstext-property button{
    font-size: 13px;
    padding:10px 20px;
}
.values{
    height:70vh;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    gap:30px;
}
.valuebox{
    height:100%;
    width:40%;
    padding:40px;
}
#services{
    background-color: #F1F5F9;
}
#helpingbrands{
    background-color: #F1F6F5;
}
#howwework{
    background-color: #F8F8F8;
}
.toptext{
    height:30%;
    margin-bottom: 40%;
}
.toptext p{
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.toptext h3,.bottomtext h3{
    font-size: 30px;
    font-weight: 300;
}
.bottomtext{
    height:30%;
    margin-top: 50%;
    display: flex;
    align-items: end;
}
.bottomtext button{
    padding:12px 35px;
    font-size: 15px;
}